.app {
     /* Add app styles here */
}

.lbl {

     text-transform: uppercase;
     font-family: ProximaNovaSemiBold, Helvetica, Arial;
     font-size: 10px;
}

.x-form-trigger-wrap {
     margin-top: 0px!important;
}

.x-column-header-text {
     margin-right: 0px!important;
}
.x-box-inner {
     overflow: visible;
}

p {
     color:#FAD200;
}